/* || Custom properties */
:root {
    --color-blue: rgb(22, 78, 99);
    --color-light-grey: rgb(190, 201, 223);
    --turquoise-turquoise: rgb(65, 203, 191);
    --color-white: rgb(249, 250, 251);
    --color-grey: rgb(99, 99, 99);
    --box-shadow: 5px 5px 5px rgb(173 184 204);
}


/* || General styles */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: roboto;
    src: url(./Roboto-Medium.ttf);
}

body {
    height: 100vh;
    font-family: roboto, 'Segoe UI', Tahoma, Verdana;
    background-color: var(--color-light-grey);
}


/* || Site wide */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content min-content 4fr;
    grid-template-areas:
        "sidebar page-header"
        "sidebar user-header"
        "sidebar article";
}

.container > div {
    padding: 15px 24px;
}

.avatar {
    max-height: 40px;
}

.avatar-lg {
    max-height: 70px;
}


/* || Page header */
.page-header {
    grid-area: page-header;
    display: grid;
    grid-template-columns: 1fr min-content min-content min(150px);
    column-gap: 26px;
    align-items: center;
    background-color: var(--color-white);
}

.searchbar .material-icons {
    vertical-align: middle; /* Center the icon to match input field */
}

.searchbar input {
    background-color: var(--color-light-grey);
    padding: 8px;
    border: none;
    border-radius: 12px;
    width: max(150px, 80%);
}


/* || User header */
.user-header {
    grid-area: user-header;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr min-content min-content min-content;
    column-gap: 26px;
    align-items: center;
    box-shadow: var(--box-shadow);
    z-index: 1;
    background-color: var(--color-white);
}

.btn {
    padding: 8px 24px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 600;
    border: none;
    border-radius: 16px;
}


/* || Sidebar */
.sidebar {
    color: var(--color-white);
    background-color: var(--color-blue);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 25px;
}

.logo {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.logo .material-icons {
    font-size: 2rem;
}

.nav {
    list-style: none;
}

.nav li {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    font-weight: 600;
    padding: 8px 0;
}


/* || Main */
.article {
    grid-area: article;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 24px;
    grid-template-areas:
    "project announcement"
    "project trending"
}

.article h2 {
    margin: 16px 0;
    font-size: 1.2rem;
}

.project {
    grid-area: project;
}

.announcement {
    grid-area: announcement;
}

.trending {
    grid-area: trending;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 24px;
}

.card {
    padding: 24px 24px;
    border-radius: 8px;
    min-height: 180px;
    background-color: var(--color-white);
    border-left: 8px solid var(--turquoise-turquoise);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    box-shadow: var(--box-shadow);
}

.card h3 {
    margin: 8px 0;
}

.card-content {
    color: var(--color-grey);
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.widget {
    padding: 24px 24px;
    border-radius: 8px;
    background-color: var(--color-white);
    display: grid;
    grid-auto-rows: min-content;
    box-shadow: var(--box-shadow);
    row-gap: 18px;
}

.announcement .widget p {
    color: var(--color-grey);
    font-size: 0.8rem;
    border-bottom: 1px solid var(--color-grey);
    padding-bottom: 16px;
}

.announcement .widget > div:last-child p {
    border: none;
    padding-bottom: 0;
}

.trending .widget {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 16px;
    align-items: center
}

.post-summary p {
    color: var(--color-grey);
}