:root {
    --background-blue: rgb(22, 78, 99);
    --background-grey: rgb(190, 201, 223);
    --background-turquoise: rgb(65, 203, 191);
    --text-white: rgb(249, 250, 251);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 60px 4fr;
    column-gap: 16px;
    grid-template-areas:
        "sidebar page-header"
        "sidebar user-header"
        "sidebar article";
}

.container > div {
    padding: 15px;
}

.page-header {
    grid-area: page-header;
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content min(150px);
    gap: 26px;
    align-items: center;
}

input {
    background-color: var(--background-grey);
    padding: 8px;
    border: none;
    border-radius: 12px;
    width: max(150px, 80%)
}

.user-header {
    grid-area: user-header;
}

.sidebar {
    fill: var(--text-white);
    color: var(--text-white);
    background-color: var(--background-blue);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 25px;
}

.nav {
    list-style: none;
}

.nav li {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    font-weight: 600;
    padding: 8px 0;
}

.logo {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.logo span {
    font-size: 2rem;
}

.article {
    grid-area: article;
}

.avatar {
    max-height: 40px;
}